#comment-main {
	width: 70%;
	margin: 0 auto;
	margin-top: 100px;
}

.comment-wrapper-tpl {
	margin-top: 40px;
	// border: 1px solid;
	// border-color: #505359;
	// border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.comment-user-tpl {
	font-size: 20px;
	font-weight: bold;
	color: #6C707A;
}

.fade.in {
	opacity: 0.9;
}

.fade.in.half-opt {
	opacity: 0.6;
}

.fade.in.near-opt {
	opacity: 0.2;
}

.alert-success {
	color: #fff;
	background-color: #73777F;
	border-color: #73777F;
}

.alert-warning {
	background-color: #505359;
	border-color: #505359;
	color: #505359;
}

.comment-user {
	margin-right: 10px;
}

#viewAllComment {
	width: 80%;
	background-color: #505359;
	color: #fff;
}

.close-but {
	color: #fff;
}

