
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

#welcome {
	margin-top: 20px;
	width: 100%;
	background-color: #535559;
	color: #fff;
	height: 400px;
	text-align: center;
	line-height: 400px;
	font-size: 50px;
}

.news-icon-wrapper {
	height: 320px;
	margin-left: 50px;
	margin-top: 20px;
	width: 25%;
}

.news-icon {
	width: 100%;
	height: 220px;
}

.gray {
	-webkit-filter: grayscale(100%);
}

.news-title {
	text-overflow: ellipsis;
	font-size: 20px;
	width: 100%;
	overflow:hidden;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2; 
}

#news {
	margin-top: 100px;
	margin-left: 110px;
	height: 100%;
	line-height: 1;
	.first {
		float: left;
	}

	.second {
		float: left;
	}
	.third {
		float: left;
	}
}

.comment-wrapper {
	position: fixed;
	bottom: 0px;
}

.comment-box {
	width: 450px;
}

.fade.in.half-opt {
	opacity: 0.7;
}

.fade.in.near-opt {
	opacity: 0.2;
}

.alert-success {
	color: #fff;
	background-color: #73777F;
	border-color: #73777F;
}



