#header {
	margin-top: 20px;
}

.nav {
	li {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 150px;
	}
	.active {
		background-color: #535559;
		color: #fff;
		border-radius: 5px;
	}
}

#username {
	float: right;
	margin-right: 100px;
}

.over {
	background-color: #F6F6F6;
	border-radius: 5px;
}

.fade.in {
	opacity: 0.9;
}

.fade.in.half-opt {
	opacity: 0.6;
}

.fade.in.near-opt {
	opacity: 0.2;
}

.alert-success {
	color: #fff;
	background-color: #73777F;
	border-color: #73777F;
}

.alert-warning {
	background-color: #505359;
	border-color: #505359;
	color: #505359;
}

.comment-user {
	margin-right: 10px;
}

#viewAllComment {
	width: 80%;
	background-color: #505359;
	color: #fff;
}

.close-but {
	color: #fff;
}
