#news {
	margin: 0 auto;
	margin-top: 40px;
}

#news-title {
	background-color: #535559;
	color: #fff;
	font-size: 50px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#news-inner {
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
}

#news-author {
	float: left;
	color: #777B88;
}

#news-time {
	margin-left: 100px;
	color: #777B88;
}

#news-content {
	margin-top: 20px;
}