.marker {
	color : red;
}

.tooltip-inner {
	text-overflow: ellipsis;
  	overflow: hidden;
  	display: -webkit-box;
  	-webkit-box-orient: vertical;
  	-webkit-line-clamp: 10;
}

.marker-active {
	text-decoration:underline;
}

.comment-wrapper {
	position: fixed;
	bottom: 0px;
}

.comment-box {
	width: 450px;
}

.fade.in {
	opacity: 0.9;
}

.fade.in.half-opt {
	opacity: 0.6;
}

.fade.in.near-opt {
	opacity: 0.2;
}

.alert-success {
	color: #fff;
	background-color: #73777F;
	border-color: #73777F;
}

.alert-warning {
	background-color: #505359;
	border-color: #505359;
	color: #505359;
}

.comment-user {
	margin-right: 10px;
}

#viewAllComment {
	width: 80%;
	background-color: #505359;
	color: #fff;
}

.close-but {
	color: #fff;
}


