/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/index.scss */
#hotnews {
  float: left;
}

/* line 11, ../sass/index.scss */
#recommendation {
  float: left;
}

/* line 15, ../sass/index.scss */
#header {
  margin-top: 20px;
}

/* line 20, ../sass/index.scss */
.nav li {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 150px;
}
/* line 27, ../sass/index.scss */
.nav .active {
  background-color: #535559;
  color: #fff;
  border-radius: 5px;
}

/* line 34, ../sass/index.scss */
#welcome {
  margin-top: 20px;
  width: 100%;
  background-color: #535559;
  color: #fff;
  height: 400px;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
}

/* line 45, ../sass/index.scss */
.news-icon-wrapper {
  width: 280px;
  height: 320px;
  margin-left: 50px;
  margin-top: 20px;
}

/* line 52, ../sass/index.scss */
.news-icon {
  width: 280px;
  height: 220px;
}

/* line 57, ../sass/index.scss */
#news {
  margin-top: 100px;
  margin-left: 120px;
  height: 100%;
  line-height: 1;
}
/* line 62, ../sass/index.scss */
#news .first {
  float: left;
}
/* line 66, ../sass/index.scss */
#news .second {
  float: left;
}
/* line 69, ../sass/index.scss */
#news .third {
  float: left;
}
